<script setup>
import Ingredients from './ingredient/Ingredients.vue';
import Recipes from './recipe/Recipes.vue';
import Groceries from './grocerylist/Groceries.vue';
import { shallowRef } from 'vue';

const currentTab = shallowRef(Recipes);
const tabs = [
    [Ingredients, 'Ingredients'],
    [Recipes, 'Recipes'],
    [Groceries, 'Groceries']];
</script>

<template>
    <div class="wrapper">
        <div class="navbar">
            <h1>Meal Planner</h1>
            <div class="tabs">
                <button :class="{ active: currentTab == tab[0]}" class="tab" v-for="tab in tabs" @click="currentTab = tab[0]" v-text="tab[1]">
                </button>
            </div>
        </div>
        <KeepAlive>
            <component :is="currentTab"></component>
        </KeepAlive>
    </div>
</template>

<style scoped>
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    background-color: #ffc596;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab:hover {
    background-color: #e9b489;
}

.tab.active {
    background-color: #d3a47e;
}
</style>