<script setup>

const props = defineProps({
    title: {type: String, default: ''},
    desc: {type: String, default: ''},
    image: {type: String, default: 'src/assets/card-ph-min.png'},
    serves: {type: String, default: ''},
    dur: {type: String, default: ''},
    ingredients: {type: Array, default: []},
    steps: {type: Array, default: []},
});

</script>

<template>
    <div class="recipe-wrapper">
        <img :src="props.image" alt="">
        <h1 class="title">{{ props.title }}</h1>
        <div class="desc">{{ props.desc }}</div>
        <div>
            <div class="serves"><b>Serves: </b>{{ props.serves }}</div>
            <div class="duration"><b>Cook time: </b>{{ props.dur }}</div>
        </div>
        <br>
        <div class="list">
            <b>Ingredients</b>
            <ul>
                <li v-for="i in props.ingredients">{{ i }}</li>
            </ul>
        </div>
        <br>
        <div class="list">
            <b>Steps</b>
            <ol>
                <li v-for="s in props.steps">{{ s }}</li>
            </ol>
        </div>
    </div>
</template>

<style scoped>
.recipe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 1rem;
}

.list {
    align-self: flex-start;
    font-size: 4vmin;
}



.h1 {
    font-weight: bolder;
}

b {
    font-weight: bolder;
}
</style>