<script setup>
import { onMounted, ref } from 'vue';
import RecipeCard from './RecipeCard.vue';
import Recipe from './Recipe.vue';

const recipes = ref([])

const recs = [
    {
        title: 'Dal Tadka',
        serves:'3-4',
        dur:'40 minutes',
        ingredients: ['dal', 'spices', 'tomatoes', 'ginger', 'garlic', 'onion'],
        steps: ['Boil dal in water with turmeric and salt', 'Add tomatoes to dal', 'Fry raw spices in oil for a few seconds', 'Add ginger, garlic, and onion to spices and fry for 10 minutes', 'Add ground spices to fry', 'Pour over dal'],
        note:'A popular Indian lentil based curry.',
        desc:'A popular Indian lentil based curry. Dal is frequently eaten with flatbreads, such as rotis or chapatis, or with rice. The latter combination is called dal bhat in Nepali, Gujarati, and various other Indian languages.',
        image:'src/assets/card-ph-min.png'},
    {
        title: 'Palak Paneer',
        serves:'3-4',
        dur:'30 minutes',
        ingredients: ['spinach', 'paneer', 'tomatoes', 'onion', 'spices'],
        steps: ['Boil and puree spinach', 'Mix puree with tomatoes and onions', 'Grill paneer', 'Add paneer to puree', 'Spice the puree', 'Serve with spices'],
        note:'A spinach and cottage cheese based curry.',
        desc:'A spinach and cottage cheese based curry. Palak paneer or palak chhena is an Indian dish consisting of chhena or paneer in a thick paste made from puréed spinach, called palak in Hindi, Marathi, Gujarati, and other Indian languages.',
        image:'src/assets/card-ph-min.png'},
]

const page = ref(1);
const limit = 10;
const list = ref(0);
const loadMoreStatus = ref('idle')
const recipe = ref({})
const selected = ref(false)

// TODO: async const when connecting to a proper backend
function loadData(num=0) {
    loadMoreStatus.value = 'loading';
    setTimeout(() => {
        const newData = []
        // generate random fake data
        let itr = num || Math.floor(Math.random() * 10 + 6);
        for (let index = 0; index < itr; index++) {
            let val = recs[Math.floor(Math.random()*recs.length)]
            newData.push(val)
        }
        recipes.value.push(...newData)
        loadMoreStatus.value = newData.length < limit ? 'no-more' : 'idle';
        page.value++;
    }, 0);
}

onMounted(() => {
    let scrollCb;
    window.addEventListener('scroll', scrollCb = async evt => {
        if (
            loadMoreStatus.value === 'idle' &&
            list.value.getBoundingClientRect().bottom < window.innerHeight
        ) {
            loadData();
        }
    });
    scrollCb();
});

function clear() {
    if (selected.value) {
        recipe.value = {};
        selected.value = false;
    } else {
        recipes.value = [];
    }
}

function openRecipe(key) {
    console.log(key);
    let r = recipes.value[key]
    let vals = {
        title: r.title,
        desc: r.note,
        image: r.image,
        serves: r.serves,
        dur: r.dur,
        ingredients: ['milk', 'spice', 'paneer', 'dal'],
        steps: ['Cook the curry', 'Eat the curry']
    }
    recipe.value = r
    selected.value = true
}

</script>

<template>
    <div class="wrapper">
        <div class="top">
            <h1>Recipes</h1>
            <div>Filters</div>
            <!-- FOR TESTING ONLY -->
            <button @click="loadData(11)" v-if="!selected">Load</button>
            <button @click="clear">{{ selected ? 'Go Back' : 'Clear' }}</button>
        </div>
        <div class="result-wrapper" v-show="!selected">
            <ul class="results" ref="list">
                <li v-for="(r, key) in recipes" v-if="recipes" :value="key" @click="openRecipe(key)">
                    <RecipeCard v-bind="r"></RecipeCard>
                </li>
            </ul>
            <p id="load-more" :class="loadMoreStatus"></p>
        </div>
        <div class="recipe" v-show="selected">
            <Recipe v-bind="recipe"></Recipe>
        </div>
    </div>

</template>

<style scoped>
.recipe {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    margin-bottom: 5rem;
}

.top {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.result-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results {
    display: inherit;
    gap: 3rem;
    flex-direction: row;
    justify-content: inherit;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

li {
    list-style: none;
}

#load-more {
    text-align: center;
    color: #999;
    margin-bottom: 2rem;
}

#load-more.loading:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid 2px grey;
    animation: spin .25s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}
#load-more.no-more:before {
    content: 'No more results';
}
</style>