<script setup>

const props = defineProps({
    image: {type:String, default:'src/assets/card-ph-min.png'},
    title: String,
    note: String,
    dur: String,
    serves: String
})

</script>

<template>
    <div class="card">
         <div class="img" :style="{'background-image': 'url(' + props.image + ')'}">
         </div>
        <div class="container">
            <h3><b>{{ props.title }}</b></h3>
            <p>{{ props.note }}</p>
            <br>
            <div><b>Serves: </b>{{ props.serves }}</div>
            <div><b>Cook time: </b>{{ props.dur }}</div>
            <br>
        </div>
    </div>
</template>

<style scoped>
.img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 15rem;
    height: 7rem;
    margin-bottom: 0.5rem;
}

h3 {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    width: 15rem;
}

.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
  scale: 1.05;
}

.container {
  padding: 2px 16px;
}

b {
    font-weight: bolder;
}

</style>